body { 
	font-size: 20px;
	text-align: justify;
	margin: 50px;
	font-family: comic sans ms;
	background-color: #020034;
}

.contenedor{
	background-color: #a4d4fd;
	width: 50%;
	max-width: 550px;
	height: 550px;
}

h1{
	text-align: center;
	color: #4b4b4b;
	line-height: 550px;/*PERMITE CAMBIAR EL ALTO DE UNA LINEA DE TEXTO*/
}