body { 
	background: #ff4996;
	color: white;
	font-size: 30px;
	font-family: comic sans ms;
	margin: 0px;
}

.contenedor{
	display: flex;
	width: 100%;
	max-width: 300px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	margin: 50px auto;
	margin-top: 200px;
}

p{
	padding-bottom: 15px;
}

ul{
	list-style: none;
	padding-left: 10px;
	animation:  cambiarTexto 7s infinite;
}

ul, p{
	margin: 0;
}

@keyframes cambiarTexto{
	0%{margin-top: 0;}
	20%{margin-top: 0;}
	/*Espacio de la transicion*/
	25%{margin-top: -40px;}
	50%{margin-top: -40px;}
	/*Espacio de transicion*/
	55%{margin-top: -80px;}
	80%{margin-top: -80px;}
	/*Espacio de transicion*/
	85%{margin-top: -40px;}
	95%{margin-top: -40px;}
	/*Espacio de transicion*/
	100%{margin-top: 0;}
}