@charset "utf-8";
/* CSS Document */
/**************Reset Style*****************/

* {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
body {
	margin:0;
	padding:0;
	color:#666;
	background:#fff;
	font-size: 13px;
}
p {
	font-size: 13px;
	line-height: 23px;
	padding: 3px 0 3px;
}
a {
	text-decoration:none;
	color:#0084C7;
	font-weight:400;
}
a:hover {
	text-decoration:underline;
	color:#0084C7;
}

/***********PROMO STYLE*************/

#header {
	margin-top:50px;
	margin-bottom: 50px;
	text-align:center;	
	color:#0881f2;
}

/************** Style *****************/

#container {
	margin: auto;
	width:100%;
	max-width: 1000px;
}

.showcase {
	list-style: none;
	height: 100%;
	max-height: 244px;

}
.showcase li {
	display: inline-block;
	width: 100%;
	max-width: 285px;
	height: 100%;
	max-height: 244px;
	overflow: hidden;
	padding: 13px;
}

@media screen and (max-width:320px){
	.showcase li{
		padding: 0px;
		padding-bottom: 13px;
	}
}
.showcase a {
	display: block;
	width: 100%;
	max-width: 285px;
	height: 244px;
	max-height: 244px;	
	overflow: hidden;
	position: relative;
	text-decoration: none;
}
.showcase a img {
	width: 500px;
	height: 374px;
	margin: 0 auto;
	position: absolute;
	left: -104px;
	top: -40px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.showcase a:hover img {
	width: 285px;
	height: 213px;
	left: 0;
	top: -10px;
}
.showcase a p {
	background: #183100;
	color: #fff;
	font-size: 11px;
	padding: 12px 20px;
	position:absolute;
	bottom:-100px;
	line-height: 20px;
	display: block;
	width: 100%;
	max-width: 245px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.showcase a:hover p {
	bottom: 0;
	background: #3C840B;
}
.showcase a h3 {
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	background: #59A214;
	width: 211px;
	padding: 8px 10px;
	position: absolute;
	left:10px;
	bottom:10px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.showcase a:hover h3 {
	bottom:94px;
	background: #3C840B;
}
.showcase a h3 i {
	width: 33px;
	height: 26px;
	position: absolute;
	right: -34px;
	top: 0;
	background: #59A214;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-size:18px;
	font-weight:normal;
	text-align:center;
	padding:6px 0 0 0;
}
.showcase .thumb2 a p, .showcase .thumb2 a h3 {
	background: #F68B28;
}
.showcase .thumb2 a:hover p, .showcase .thumb2 a:hover h3 {
	background: #F16B17;
}
.showcase .thumb2 a h3 i {
	background: #F68B28;
}
.showcase .thumb2 a:hover h3 i {
	background: #F16B17;
}
.showcase .thumb3 a p, .showcase .thumb3 a h3 {
	background: #0065BB;
}
.showcase .thumb3 a:hover p, .showcase .thumb3 a:hover h3 {
	background: #0046A2;
}
.showcase .thumb3 a h3 i {
	background: #0065BB;
}
.showcase .thumb3 a:hover h3 i {
	background: #0046A2;
}
