@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0058 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
}
figure.snip0058 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0058 > img {
  opacity: 1;
  width: 100%;
  filter: blur(0px);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
figure.snip0058 figcaption {
  left: 30px;
  margin-bottom: -52px;
  position: absolute;
  right: 30px;
  text-align: left;
  bottom: 100%;
  -webkit-transition: bottom 0.35s;
  transition: bottom 0.35s;
}
figure.snip0058 figcaption h2 {
  width: 100%;
  text-align: left;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding: 15px 20px;
  font-size: 1.1em;
  bottom: 0;
  font-weight: 300;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #000000;
  position: relative;
  z-index: 1;
}
figure.snip0058 figcaption h2 span {
  font-weight: 800;
}
figure.snip0058 figcaption p {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  margin: 0;
  font-size: 0.9em;
  min-height: 220px;
}
figure.snip0058 figcaption p span {
  padding: 15px 20px;
  position: absolute;
  bottom: 0;
}
figure.snip0058 figcaption .icons {
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}
figure.snip0058 figcaption .icons i {
  font-size: 23px;
  padding: 4px;
  color: #ffffff;
  opacity: 1;
  position: relative;
  bottom: -90px;
  opacity: 0;
  -webkit-transition: bottom 0.35s, opacity 0.35s;
  transition: bottom 0.35s, opacity 0.35s;
}
figure.snip0058 figcaption .icons a:first-child i {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0058 figcaption .icons a:nth-child(2) i {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip0058 figcaption .icons a:nth-child(3) i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
figure.snip0058:after {
  position: absolute;
  display: block;
  bottom: -15px;
  height: 15px;
  right: 30px;
  left: 30px;
  border-radius: 5px 5px 0 0;
  background-color: #000000;
  z-index: 2;
  content: '';
  -webkit-transition: bottom 0.35s;
  transition: bottom 0.35s;
}
figure.snip0058.blue:after,
figure.snip0058.blue h2 {
  background: #20638f;
}
figure.snip0058.red:after,
figure.snip0058.red h2 {
  background: #962d22;
}
figure.snip0058.yellow:after,
figure.snip0058.yellow h2 {
  background: #bf6516;
}
figure.snip0058.green:after,
figure.snip0058.green h2 {
  background: #1e8449;
}
figure.snip0058 a {
  opacity: 0.7;
}
figure.snip0058 a:hover {
  opacity: 1;
}
figure.snip0058:hover > img,
figure.snip0058.hover > img {
  opacity: 0.5;
  filter: blur(5px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip0058:hover figcaption,
figure.snip0058.hover figcaption {
  bottom: 115px;
}
figure.snip0058:hover figcaption .icons i,
figure.snip0058.hover figcaption .icons i {
  opacity: 1;
  bottom: -41px;
}
figure.snip0058:hover figcaption::before,
figure.snip0058.hover figcaption::before {
  opacity: 0.8;
}
figure.snip0058:hover:after,
figure.snip0058.hover:after {
  bottom: 0;
}
