@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background: linear-gradient(80deg, #43cea2, #185a9d);
    background-size: 400% 400%; 
    -webkit-animation: AnimatedGradient 10s ease infinite;
    -moz-animation: AnimatedGradient 10s ease infinite;
    animation: AnimatedGradient 10s ease infinite; 
}
.container {
  width: 100%;
  height: 50%;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-image: url(http://www.extremetech.com/wp-content/uploads/2013/07/Andromeda-Galaxy-640x353.jpg);
  background-size: auto 346.4102px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  margin-top: 5%;
  margin-left: 10.5%;
  float: left;
}
.title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 12.5%;
  margin-left: 0%;
  position: absolute;
  width: 100%;
  height: 40px;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
  line-height: 1.7;
}
.statement {
  font-size: 2em;
  text-align: center;
  margin-top: 27.5%;
  margin-left: 0%;
  position: absolute;
  width: 100%;
  height: 51px;
  background-color: black;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
  line-height: 1.7;
  font-weight: bold;
}
#left {
  background-image: url(http://onehdwallpaper.com/wp-content/uploads/2015/07/Chile-Mountain-Beautiful-Photography.jpg);
  background-size: auto 346.4102px;
  background-position: center;
  background-repeat: no-repeat;
}
#middle {
  background-image: url(http://www.wallpaperhi.com/thumbnails/detail/20120815/light%20clouds%20nature%20trees%20rain%20forest%20grass%20wildlife%20wet%202560x1600%20wallpaper_www.wallpaperhi.com_69.jpg);
  background-size: auto 346.4102px;
  background-position: center;
  background-repeat: no-repeat;
}
#right {
  background-image: url(http://www.extremetech.com/wp-content/uploads/2013/07/Andromeda-Galaxy-640x353.jpg);
  background-size: auto 346.4102px;
  background-position: center;
  background-repeat: no-repeat;
}
.hexagon:hover .hexagon-hidden {
  display: block;
}
.hexagon-hidden {
  position: absolute;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-color: #DDDDDD;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  float: left;
  z-index: 99;
  transform: scale(.85);
  font-family: 'Raleway', Arial, sans-serif;
  display: none;
}
.hover {
  display: block;
}
#hiddenArea {
  box-shadow: none;
}
.hexagon-hidden:hover {
  background-image: none;
}
.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}
/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}
.hexTop {
  top: -106.0660px;
}
.hexTop:after {
  background-position: center top;
}
.hexBottom {
  bottom: -106.0660px;
}
.hexBottom:after {
  background-position: center bottom;
}
.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  z-index: 2;
  background: inherit;
}

@-webkit-keyframes AnimatedGradient {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

@-moz-keyframes AnimatedGradient {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

@keyframes AnimatedGradient { 
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}