*{
	margin:0px;
	padding:0px;
	font-family: helvetica;
}

html,body{
	background-color: #404040;
	margin: 5px;
}

div#body{
	margin:40px auto;
	width:100%;
	max-width: 600px;
	min-height:50px;
	overflow: hidden;
	border-radius: 5px;
}

div.subapartado{
	width:100%;
	max-width: 600px;
	min-height:50px;
	background-color: green;
	-webkit-transiton: height 0.2s;
}

div.titulo{
	width:100%;
	max-width: 600px;
	height:50px;
	background-color: #24c06f;
	overflow: hidden;
	border-bottom: 1px solid #39f58f;
}

p.titulo{
	margin:13px;
	color: white;
}

div.info{
	width:100%;
	max-width: 600px;
	height:0px;
	background-color: #f5f5f5;
	overflow: hidden;
	-webkit-transition: height 0.2s;
}

p.info{
	margin:20px;
	text-align: center;
	color:#4f4f4f;
}

div.subapartado:hover div.info{
	height:100%;
}

























































