body { 
	font-size: 20px;
	text-align: justify;
	margin: 50px;
	font-family: comic sans ms;
}

.textoEffect{
	text-align: center;
}

.textoEffect2{
	text-align: center;
}

.textoEffect3{
	text-align: center;
}