body { 
  font-size: 20px;
  text-align: justify;
  margin: 50px;
  font-family: "Griffy", comic sans ms;
  font-weight: bolder;
  text-align: justify;
}

h1{
  font-size: 100px;
}

p{
  font-size: 50px;
}